<!-- 
<ion-header class="al">
  <ion-toolbar class="ol">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> -->
<!-- <div class="login-section ">
<div class="heading ion-padding">
 <h1>welcome </h1>
 <ion-item lines="none" class="ok">
  <img src="/assets/img/mali.png" class="bb"  alt=""><p class="par">
   ex eligendi voluptatibus earum quod optio hic et iure reprehenderit. Nobis tempore ipsa placeat veniam.
 </p>
 
 
</ion-item>
 

 
</div>
<ion-item ion-padding lines="none">
<div class="car">
  <h1>capital</h1>
  <h1>bamako</h1>
</div>
<div class="car">
  <h1>capital</h1>
  <h1>bamako</h1>
</div>
<div class="car">
  <h1>capital</h1>
  <h1>bamako</h1>
</div></ion-item>

<h1>region</h1>
<div  class=" carte">
  
  <ion-slides ion-padding>
    <ion-slide>
      
      <ion-item>
      <img src="/assets/img/bamako.jpg" alt="" class="im"> </ion-item><br>
      
      
    </ion-slide>
    <ion-slide><img src="/assets/img/segou.jpg" alt="" class="im">
    </ion-slide>
    <ion-slide><img src="/assets/img/sikasso.jpg" alt="" class="im">
    </ion-slide>
    <ion-slide><img src="/assets/img/malitouristique" alt="" class="im">
    </ion-slide>
  </ion-slides>

</div>
</div> -->
<!-- </ion-content> -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header  >
    <ion-toolbar class="okm" color="#6370ff4e">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
     <ion-item class="cartee">  <div class="oli">
      <img src="/assets/img/mali.png" class="bb"alt=""><p class="par">
       ex eligendi voluptatibus earum quod optio hic et iure reprehenderit. Nobis tempore ipsa placeat veniam.voluptatibus earum quod optio hic et iure reprehenderit. Nobis tempore ipsa placeat veniam.
     </p></div>
     
     
    </ion-item>
     <div class="pe">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header class="m">
          <ion-card-title >Kayes</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Here's a small
        </ion-card-content>
      </ion-card>

    </div>
    <div class="pe1">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header class="m">
          <ion-card-title >Segou</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Here's a small
        </ion-card-content>
      </ion-card>
      <div class="pe2">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header class="m">
            <ion-card-title >Segou</ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content>
            Here's a small
          </ion-card-content>
        </ion-card>
  
      </div> 

    </div> 
    <div class="pe4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header class="m">
          <ion-card-title >fghjk</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Here's a small
        </ion-card-content>
      </ion-card>
      

    </div> 
    <div class="pe5">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header class="m">
          <ion-card-title >fghjk</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Here's a small
        </ion-card-content>
      </ion-card>
      

    </div> 
    <div class="pe6">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header class="m">
          <ion-card-title >fghjk</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Here's a small
        </ion-card-content>
      </ion-card>
      

    </div> 
    <div class="pe7">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header class="m">
          <ion-card-title >fghjk</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Here's a small
        </ion-card-content>
      </ion-card>
      

    </div> 
    <div class="pe8">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header class="m">
          <ion-card-title >fghjk</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Here's a small
        </ion-card-content>
      </ion-card>
      

    </div> 
  </ion-content>
</div>

