.he{
       height: 100%;
       background:linear-gradient(0deg,rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.529)),
       url("/assets/img/pexels-mostafa-el-shershaby-3772783.jpg") no-repeat center center  /  cover;
       object-fit:unset;
}
.padding{
    padding: 10px;
}
.oh{
    background: rgba(15, 15, 15, 0.363);

}
.cool{
    background: rgba(185, 104, 104, 0);

}