<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
 
<ion-content>
  <div class="padding">
<ion-item>
  <ion-label color="light">Email</ion-label>
  <ion-input color="light" placeholder=" Adresse email"  type="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="light">Mot de passe</ion-label>
  <ion-input color="light" placeholder=" Mot de Passe"  type="password"></ion-input>
</ion-item>
<ion-item lines="none">
  <!-- slot pour que mon texte soit mit a la fin et fill pour que le texte uniquement soit mise en valeur -->
  <ion-button  slot="end" fill="clear">Mot de Passe Oublie?</ion-button>
</ion-item>
<!-- pour que nos button prennent toute la largeur -->
<!-- shape pour arrondir les bords du boutons -->
<!-- pour  que le bord et le text uniquement soit colore -->
<ion-button fill="outline" expand="block" shape="round">Connexion</ion-button>
<br>
<ion-button expand="block"shape="round">Inscription</ion-button>
<!-- pour qu'il 'y est pas de ligne' -->
<ion-item lines="none">
  <ion-label text-center color="light"  >connecter vous avec ?</ion-label>
</ion-item>
<div class="flex">
  
</div>

</div>
</ion-content> -->
