<ion-header class="he">
  
  <ion-toolbar >
    
    
      <div style="display: flex;justify-content:space-around ;color: white;">
        <div style="padding-top: 14px;">
          <ion-button slot="end">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-button></div>
        
        <div style="display: flex;">
      <h2>username</h2>
      <img src="/assets/img/malitouristique1.jpg" style="height: 40px;width: 20%; margin-left: 10px;margin-top: 10px;border-radius: 30px;" alt="fatou"> </div>

      <ion-searchbar color="light" style="width: 30%; color: rgb(14, 13, 13);"></ion-searchbar>
    </div>
      
    

    
    
  </ion-toolbar>
</ion-header> 






<!-- <ion-content>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">Footer Toolbar</ion-title>
  </ion-toolbar>
</ion-footer>

<!-- <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <div style="display: flex;justify-content:space-around">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div style="display: flex;justify-content:space-around">
        <div>
          
          
        </div>
        <div style="display: flex;">
      <h2>username</h2>
      <img src="/assets/img/malitouristique1.jpg" style="height: 50px;width: 10%; margin-left: 10px;" alt="fatou"> </div>

      <ion-searchbar ></ion-searchbar>
    </div>
  </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
  </ion-content>
</div> -->

<!-- <ion-menu contentId="main-content"  >
  <ion-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />

        </ion-col>
        <ion-col>
          <h2>nom</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  

  </ion-header>
  <ion-content>
    <div   class="l">
  
    <ion-item href="#">
      <ion-icon name="home-sharp" style="margin-right: 20px;"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="bag" style="margin-right: 20px;"></ion-icon><ion-label>Region</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="bag" style="margin-right: 20px;"></ion-icon> 
      <ion-label>Anchor Item</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="person-add" style="margin-right: 20px;"></ion-icon><ion-label>Deconnexion</ion-label>
    </ion-item>
  </div>
  </ion-content>
</ion-menu> -->
<div class="ion-page" id="main-content">
  
    
      <!-- <ion-menu-toggle>
        <ion-button>Click to close the menu</ion-button>
      </ion-menu-toggle> -->
    
  
  <ion-content >
  <div class="header">
    
   <!-- <ion-slides>
    <ion-slide>
      <img src="/assets/img/pexels-hendrik-cornelissen-2862070.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="/assets/img/pexels-hendrik-cornelissen-2862070.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="/assets/img/pexels-hendrik-cornelissen-2862070.jpg" alt="">
    </ion-slide>
   </ion-slides> -->
   
    <ion-slides [options]="slideOpts " style="height: 30%!important;   width: 100%!important; ">
      <ion-slide >
        <img src="/assets/img/pexels-hendrik-cornelissen-2862070.jpg" color="dark"  class="im" alt="">
      </ion-slide > 
      <ion-slide >
        <img src="/assets/img/pexels-tom-d'arby-5990246.jpg" color="dark" class="im" alt="">
      </ion-slide>
      <ion-slide >
        <img src="/assets/img/malitouristique1.jpg" style="height: 20%!important;" alt="">
        
        
        
      </ion-slide>
    </ion-slides>

  </div>
  <div style="padding: 20px;">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size-xs="11" size-sm="6">
              <h1 style="text-align: center;">Le Mali</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, exercitationem porro! Consequatur, velit consequuntur!
                 Dolore quidem id error? Quo illum, hic ex a aliquid deserunt. Voluptatum inventore expedita omnis dignissimos.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, exercitationem porro! Consequatur, velit consequuntur!
                 Dolore quidem id error? Quo illum, hic ex a aliquid deserunt. Voluptatum inventore expedita omnis dignissimos.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, exercitationem porro! Consequatur, velit consequuntur!
                 Dolore quidem id error? Quo illum, hic ex a aliquid deserunt. Voluptatum inventore expedita omnis dignissimos.
                </p> <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, exercitationem porro! Consequatur, velit consequuntur!
                  Dolore quidem id error? Quo illum, hic ex a aliquid deserunt. Voluptatum inventore expedita omnis dignissimos.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, exercitationem porro! Consequatur, velit consequuntur!
                  Dolore quidem id error? Quo illum, hic ex a aliquid deserunt. Voluptatum inventore expedita omnis dignissimos.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, exercitationem porro! Consequatur, velit consequuntur!
                  Dolore quidem id error? Quo illum, hic ex a aliquid deserunt. Voluptatum inventore expedita omnis dignissimos.
                 </p> 
                 <ion-grid>
                  <ion-row>
                 <ion-col  size-xs="10" size-sm="4">
                 <ion-card>
                  <ion-card-header>
                    <ion-card-title>Card Title</ion-card-title>
                    
                  </ion-card-header>
                
                  <ion-card-content>
                    Here's a
                  </ion-card-content>
                </ion-card> </ion-col>
                <ion-col size-xs="10" size-sm="4">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Card Title</ion-card-title>
                    
                  </ion-card-header>
                
                  <ion-card-content>
                    Here's a small
                  </ion-card-content>
                </ion-card> </ion-col>
                <ion-col size-xs="10" size-sm="4">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Card Title</ion-card-title>
                    
                  </ion-card-header>
                
                  <ion-card-content>
                    Here's a sma
                  </ion-card-content>
                </ion-card> </ion-col>
               </ion-row> </ion-grid>
            </ion-col>
            <ion-col size-xs="11" size-sm="6">
              <img src="/assets/img/carte.jpg" alt="" class="img">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
   <div>
     <ion-grid>
      <ion-row>

        <ion-col size-xs="12" size-sm="4" *ngFor="let g of f |async"  >
          <ion-card  >
            <ion-card-content>
              <img src="/assets/{{g.imag}}" alt="" class="img">
              <!-- <div class="details"> 
                <div class="content">
                <h2>que ce que lorem ipsum</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                   ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
              </div> -->
              <div style="background-color: rgb(255, 254, 254); position: relative;top: -60px;border-radius: 20px;">
              <h1 style="text-align: center; padding-top: 30px;">{{g.nomn}}</h1> <br>
              <p style="text-align: center;">{{g.domaineact}}</p>
              <p style="text-align: center;">{{g.languemaj}}</p>
              <p style="text-align: center;">{{g.superficie}}</p>

              </div>
              <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
       
      </ion-row>
      
     </ion-grid>
   </div>
  <ion-footer class="b">
    <ion-toolbar>
      <ion-title style="text-align: center;">Footer Toolbar</ion-title>
    </ion-toolbar>
  </ion-footer>
  </ion-content>
  
</div>
